.emails-list {
    padding: 0;
    margin: 0;
}
.emails-list li {
    /* display: flex; */
    background-color: rgb(204, 240, 240);
    list-style: none;
    padding: 0;
    margin: 0;
}
.sender-img {
    height: 50px;
}