.emails-list {
    padding: 0;
    margin: 0;
    margin-left: 190px;
}
.emails-list li {
    display: flex;
    background-color: rgb(204, 240, 240);
    list-style: none;
    padding: 10px;
    margin: 0;
    border: black solid 1px;
    justify-content: space-between;
    align-items: center;
}
.sender-img {
    height: 50px;
}
.email-preview {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}
.email-preview .email-body {
    /* cursor: pointer; */
    max-width: 500px;
    text-align: start;
}
.email-preview .longTxt {
    cursor: pointer;
}

.email-sender {
    display: flex;
    gap: 10px;
    align-items: center;
}
.email-actions {
    display: flex;
    gap: 10px;
    cursor: pointer;
    font-size:larger;
}
.email-display {
    display: flex;
    align-items: center;
    gap: 10px;
}