.emails-list {
    padding: 0;
    margin: 0;
    margin-left: 190px;
}

.emails-list li {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 0px grey;
    position: relative;
}

.sender-img {
    height: 50px;
    width: 50px;
    background-color: rgb(93, 238, 93);
    border-radius: 50%;
    font-size: larger;
    line-height: 50px;
}

.email-preview {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.email-preview .email-body {
    max-width: 500px;
    text-align: start;
}

.email-preview .longTxt {
    cursor: pointer;
}

.email-sender {
    display: flex;
    gap: 10px;
    align-items: center;
}

.email-actions {
    display: flex;
    gap: 10px;
    cursor: pointer;
    font-size: larger;
    position: absolute;
    right: 60px;
}

.email-display {
    display: flex;
    align-items: center;
    gap: 10px;
}

.email-date {
    position: absolute;
    right: 145px;
}