.email-search {
    background-color: rgb(215, 245, 215);
    height: 30px;
    margin-left: 190px;
    padding: 15px;
    display: flex;
    align-items: center;
}

.email-search input {
    width: 250px ;
}