a {
  color: black;
}

.notes-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.notes-list li {
  list-style: none;
}

.notes-list ul {
  padding: 0;
}

.fas {
  width: 30px;
  height: 20px;
}

.note-input {
  width: 1000px;
  height: 40px;
}

.note-input-search {
  position: relative;
  top: -100px;
  right: 600px;
  padding: 5px;
  width: 250px;
}

.input-icons {
  font-size: 1.5rem;
}

.input-icons i {
  margin-right: 20px;
}

i:hover {
  cursor: pointer;
}

.note-description-container {
  margin: 15px;
}

.font-color {
  z-index: 10;
  cursor: pointer;
  width: 30px;
  height: 20px;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.fa-palette {
  margin-left: auto;
  margin-right: 0;
}

.font-col-container {
  position: relative;
  display: inline;
}

.note-todo ul, li, p, i {
  background: transparent;
}

.note-container {
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 8px grey;
}

.input-container {
  margin-top: 50px;
}

.filetr-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 50px;
}

.input-container {
  margin: auto;
  justify-content: center;
}

/* HELPERS */

.yellow {
  color: yellow;
}

.active{
  opacity: 0.5;
}