.home-page {
    /* background-image: url(/img/background.jpg); */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome-page {
    font-size: 50px;
    padding: 30px 0;
    font-family: cursive;
}

.pages-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    gap: 300px;
    margin-top: 80px;
}

.pages-icons a {
    padding: px;
    color: grey;
}

.pages-icons .home-email:hover {
    color: #4b8af4;
}

.pages-icons .home-keep:hover {
    color: #ffce42;
}

.pages-icons .home-book:hover {
    color: #df5347;
}